<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Course Project</title>
<link rel="stylesheet" th:href="@{/Design.css}">
</head>
<body>
<form>



<div class="nav">
<a class="learn" th:href="learn">LearnHub</a>
<a class="form" th:href="form">Admin<br></a>
</div>
<div id=card>
<div id=box>
<h1>Front-End Guide</h1><hr>
<ul type="disc" class="details">
<li>Clone the exact project.</li></ul>
<ul type="disc" class="details">
<li>Fill out the form first, and the form details should be added in card format.</li></ul>
<ul type="disc" class="details">
<li>The card length will be added to the home page dynamically, and placed & unplaced values will also be updated dynamically.</li>
</ul>
<ul type="disc" class="details">
<li>If we delete a card, it will update on the home page.</li></ul>
<div class="require"><ul type="disc">
<li>Our requirement:</li>
</ul></div>
<ol type="1" class="points">
<li>HTML</li>
<li>CSS</li>
<li>JavaScript</li>
<li>ReactJS</li>
</ol>
</div>
<div id=box>
<h1>FullStack Development Guide</h1><hr>
<ul type="disc" class="details">
<li>Clone the exact project.</li></ul>
<ul type="disc" class="details">
<li>Fill out the form first, and the form details should be added in card format.</li></ul>
<ul type="disc" class="details">
<li>The card length will be added to the home page dynamically, and placed & unplaced values will also be updated dynamically.</li>
</ul>
<ul type="disc" class="details">
<li>If we delete a card, it will update on the home page.</li></ul>
<div><ul type="disc" class="require">
<li>Our requirement choose any one language for backend:</li>
</ul></div>
<ol type="1" class="points">
<li>HTML</li>
<li>CSS</li>
<li>JavaScript</li>
<li>ReactJS</li>
<li>Nodejs</li>
<li>Python</li>
<li>JAVA</li>
<li>MongoDB</li>
<li>SQL</li>
</ol>
<ul class="details">
<li>For the backend, connect with the database using any language you know (Python, Node.js), and use either MongoDB or SQL.</li>
</ul>
</div>

</div>
<div class="box3">
<h2>Important Notes</h2><hr id="notes">
<ul type="disc" style="color:white; line-height:1.8;">
<li>No need for notes files; they are for guidance only.</li>
<li>Once completed, deploy the project to Github,Vercel or Netlify and upload the link in the given form.</li>
<li>We have attached asset files in zip format, check them out.</li>
</ul>
</div>
</form>

<div class="footer">
<h1>LearnHub</h1>
</div>
<div class="msg">
<footer>&nbsp; <p> 2022 Tailwind Labs Inc. All rights reserved.</p></footer>
<a style="text-decoration:none; color:white;" th:href="form">Form</a> | <a style="text-decoration:none; color:white;" th:href="home">Notes</a>
</div>

</body>
</html>